<% if @player2 == "" %>
  <p>Waiting for another player...</p>
  <meta http-equiv="refresh" content="2">
<% else %>
  OK <%= @player %> you are playing <%= @other_player %>
  <ul>
  <% @hash.keys.each do |gesture| %>
    <li><a href="/play?gesture=<%= gesture %>&player=<%= @player %>">
    <img src="/images/<%= gesture %>.svg"></a></li>
  <% end %>
  </ul>
<% end %>


