  <hgroup>
    <h2>OK <span class="magenta"><%= @player %></span> you are <br />playing <span class="blue"><%= @other_player %></span>
    </h2>
  </hgroup>
   <ul>
  <% @hash.keys.each do |gesture| %>
    <li>
      <a href="/play?gesture=<%= gesture %>&player=<%= @player %>" id="<%= gesture %>">
      <img src="/images/<%= gesture %>.svg" class="gesture-image">
      </a>
    </li>
  <% end %>
  </ul>
