  <hgroup>
  <h2>OK <%= @player %> you are playing a <%= @other_player %></h2>
  </hgroup>
   <ul>
  <% @hash.keys.each do |gesture| %>
    <li>
      <a href="/play?gesture=<%= gesture %>&player=<%= @player %>">
      <img src="/images/<%= gesture %>.svg" class="gesture-image">
      </a>
    </li>
  <% end %>
  </ul>



