<% if @result && @result != "Draw" %>
  <hgroup>
    <%= @message %>
  </hgroup>
  <section>
    <% img = @result.split %>
    <img src="/images/<%= img[0] %>.svg" class="gesture-image-win">
    <img src="/images/<%= img[2] %>.svg" class="gesture-image-lose">
    <p><%= @result %></p>
    <a href="/play/reset"><i class="fa fa-refresh fa-5x"></i></a>
    <a href="/"><i class="fa fa-share fa-5x"></i></a>
  </section>
<% elsif @result == "Draw" %>
  <hgroup>No Winner</hgroup>
  <section>
    <p><%= @result %></p>
    <a href="/play/reset"><i class="fa fa-refresh fa-5x"></i></a>
    <a href="/"><i class="fa fa-share fa-5x"></i></a>
  </section>
<% else %>
  <hgroup>
  <h2>Waiting for other player...</h2>
  <meta http-equiv="refresh" content="2">
  </hgroup>
<% end %>